body{
    margin: 0;
    padding: 0;
    background-color: rgba(226, 214, 214, 0.727);
    

}
.title h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.title h4{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.s_box input{
    font-size: 20px;
    padding: 10px;
    margin: 19px;
    margin-left: 650px;
    height: 57px;
    width: 32rem;
    border-radius: 30px;
    border-color:gray;
}
.submit{
    height: 60px;
    width: 150px;
    font-size: 19px;
    margin-left: 821px;
    border-radius: 10px;
    background: darkcyan;
}
.text{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
