body{
    margin: 0;
    padding: 0;
   background-color:gray;

}
nav{
    width: 100%;
    background:rgba(181, 209, 216, 0.562);
    overflow:auto;
}
ul{
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;

}
li{
    float: left;
}
.logo img{
    position: absolute;
    size: 20px;
    height: 185px;
    width: 203px;
    margin-top: -11px;
    margin-left: 1px;


}
nav a{
    width: 150px;
    margin-top: 54px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:black;
    text-align: center;
}

.btn-area{
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;


}
.header{
    height: 100vh;
    background-image: url(Portal-Background.jpg);
    background-size:cover;
    background-position:center;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: rgb(2, 55, 87);
    margin-bottom: 90px;
    font-size: 45px;
    margin-top: -289px;
    letter-spacing: 2px;
    text-align: center;
}
b{
    margin-top: 0px;
    font-size: 25px;
}
.search-field {
    width: 362px;
    height: 49px;
    padding: 10px;
    border-radius: 28px;
    border-color: rgb(103, 161, 184);
}
.business{
    width: 400px;
}
.loction{
    width: 200px;
}
.search-btn{
    height: 73px;
    width: 150px;
    border-radius: 30px;
    border-color: black;
}

.search-btn:hover{
    background:rgb(180, 206, 206);
    cursor: pointer;
}
.signin{
    width: 10rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: cornflowerblue;
    padding: 1rem;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    margin: 10px;
    margin-left: 675px;
    margin-top: 55px;
}
.line{
    padding: 1rem;
    width: 8rem;
    height: 4rem;
    margin: 1rem;
    float: right;
}
