*{
    margin: 0;
    padding: 0;
    
    /* background-color: rgb(188, 157, 218); */
    /* background-image: url("ironman1.jpg"); */
    /* background-color: rgb(245, 245, 245); */
    
}
body{
    /* background-color: rgb(184 226 248); */
    /* background-image: url("https://images.bewakoof.com/original/iron-man-of-war-half-sleeve-t-shirt-avl-men-s-printed-t-shirts-220650-1584415927.jpg");
    background-repeat: no-repeat; */
    /* background-attachment: fixed;   */
    /* background-attachment: scroll;    */
    /* background-image: url("https://media2.giphy.com/media/13USt1URETlUFG/giphy.gif"); */
    color: rgb(93 86 114);
    /* font-family: 'Langar', cursive;           */
    position: relative;
    
    font-family: Arial, Helvetica, sans-serif;
    
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFEr1qKSAguSs73IIWa76U9euIGKpX0tyGWw&usqp=CAU"); */
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7PnWChziSArbKfO5t-2mIklIyVY0MhMQyCg&usqp=CAU"); */
    /* background-repeat: no-repeat; */
    background-size:100%; 
}

#aj{
    margin: 10px -24px;
}
#aj img {
    width: 1160px;
    /* opacity: 0.5;  */
    margin: 12px 12px;
    height: 150px;
    /* margin: -27px 653px; */
    margin-top: 12px 12px;
    
}
.aj img:hover{
    background-color: transparent;
}

/* :root{
    --navbr-height:59px;
} */
/* navbar css */

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;  
    /* height: 2rem; */
    width: 100%;
}
#navbar::before{
    content:" ";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.3; */
    background: url('https://cdn.pixabay.com/photo/2017/03/20/21/00/server-2160321_1280.jpg');
    /* background-repeat: no-repeat; */

}
#navbar ul{
    display: flex;
    padding: 0px;
    /* margin: 112px 320px; */
      
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 23px;
    border-radius: 20px;
    color: white;
    
}
#navbar ul li a:hover{
 color:black;
 background-color: white;
 opacity: 0.4;
}
/* testimonial btn css */

.btn2{
    text-align: center;
    /* padding: 12px;   */
    margin:80px;
    margin-left: 980px;

}
img, video {
max-width: 15%;
height: auto;
padding: 0%;
}
/* sign-in login css: */
.sign{
    margin: 12px;
    padding: 12px;
    background-color: rgb(131, 57, 57);
    color: rgb(0, 0, 0);
    border-radius: 12px;
    

}
.sign:hover{
    box-shadow: 2px 1px 18px rgb(55, 184, 113);
    /* color: transparent; */
    opacity: 0.5;
}

.log{
    margin: 12px;
    padding: 12px;
    border-radius: 12px;
    background-color: rgb(3, 3, 3);
    color:rgb(131, 57, 57);

}
.log:hover{
    box-shadow: 2px 1px 18px rgb(180, 110, 53);
    /* color: transparent; */
    opacity: 0.5;

}
/* footer css */
.footer1{
    margin: 12px 122px;
    padding: 130px 130px;
    background-color: rgb(0, 0, 0);
    /* background-image: url("https://cdn.pixabay.com/photo/2017/06/14/08/20/map-of-the-world-2401458_1280.jpg"); */
    background-repeat: no-repeat;
    /* opacity: 0.6; */
    
  }
  .p1{
    padding: 12rem;
    margin-right: 12rem;
  }
  .address{
    /* padding: 2px; 
    margin: 2rem; */
    color: rgb(97, 67, 67);
    /* height: 12px; */
  }
  .ul{
    color: rgba(0, 0, 0, 0.678);
    padding: 12px;
    margin: 2px;
    text-align: end;
    text-shadow: 2px 2px 2px rgba(44, 131, 212, 0.801);
    pointer-events: none;
  }
  .copyright{
    color: rgba(160, 31, 31, 0.568);
  }
  .copyright:hover{
    color: rgb(138, 142, 202);
    /* width: 9rem;
    height: 2rem;
    margin: 2rem;
    padding: 2rem; */
  
  }
  .lines{
      margin: 12px 132px;
      padding: 12px 12px;
      text-align: center;
      
  }
  

  /* boxes of startup,job,recruit designing css */
.design{
    height: 100%;
    width: 100%;
    
}  
.design::before{
    content: '';
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  
}
/* search bar */

#mySearch {
    /* margin-top: 2rem; */
    padding: 2rem;
    width: 23rem;
    font-size: 18px;
    padding: 11px;
    border: 1px solid rgb(197, 139, 139);
    border-radius: 22px;
    height: 2rem;
    background-color: black;
  }
